<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>每日記帳</title>
  <script src="https://kit.fontawesome.com/f670139a6d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>家庭記帳本</nav>

  <div class="body-container">
   {{{body}}} 
   {{!-- 三個括號 --}}

  </div>

  <div class="footer"></div>
</body>
</html>