<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>每日記帳</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>家庭記帳本</nav>

   {{{body}}} 
   {{!-- 三個括號 --}}
</body>
</html>