<div class="expenses-container">

  <div class="totalAmount-container">
    <h3> 總金額 : </h3>
    <p class="totalAmount">{{totalAmount}}</p>
  </div>


  {{#each expenses as |expense|}}
    <div class="expense">
      <p>{{expense.name}}</p>
      <p>{{expense.date}}</p>
      <p>{{expense.amount}}</p>
      <a href="">修改</a>
      <a href="">刪除</a>

    </div>

  {{/each}}

  <button>新增支出</button>

</div>